################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.user
/.vs
/Cyaim.Authentication/obj
/Cyaim.Authentication/bin
/Cyaim.Authentication/.vs
/Cyaim.Authentication/Properties/PublishProfiles

/Cyaim.Authentication.MigrateCLI/.vs
/Cyaim.Authentication.MigrateCLI/bin
/Cyaim.Authentication.MigrateCLI/obj
/Cyaim.Authentication.MigrateCLI/Properties

/Cyaim.Authentication.OpenApi/.vs
/Cyaim.Authentication.OpenApi/bin
/Cyaim.Authentication.OpenApi/obj
/Cyaim.Authentication.OpenApi/Properties
